.sites-map>.row {
    position: relative;
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
}

.l-main__content:has(> .row > .col-12 > .sites-map) {
    overflow: hidden;

    &>.row {
        width: 100%;
        max-width: none !important;
        margin: 0 !important;
    }
}

.sites-map__controls-wrapper {
    position: absolute;

    /* matches the padding of the main container */
    top: $map-top-offset;
    left: 0;
    right: 0;

    /* places controls above the map */
    z-index: #{$map-base-z-index + 1};
}
