.image-source-table {
  th.status, td.status {
    .status-icon, .status-text {
      padding-left: $connection-status-icon-width;
    }
  }

  thead th:first-child,
  tbody td:first-child {
    width: 20vw;
  }

  thead th.status,
  tbody td.status {
    width: 15vw;
  }

  .status-icon::before {
    top: -5px;
  }

  .status-icon.is-lost {
    color: $color-negative;
  }

}