# Logs
logs
*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend deps and build
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/coverage
/frontend/.yarn
/frontend/.stylelintcache
*.local

# dotrun
.docker-project
.yarn.*.hash
.dotrun.json

# Frontend testing
/frontend/test-results/
/frontend/playwright-report/
/frontend/playwright/.cache/
/frontend/tests/.auth/*

# Python
*.py[cod]
*.egg-info

# Backend tox and build
/backend/.coverage
/backend/.tox
/backend/build

# Snap files
/*.snap

# CI
junit*.xml
