$connection-status-icon-width: 1.5rem;

  .p-button--table-header {
    @extend %table-header-label;

    color: $color-dark;

    &:hover {
      color: $color-link;
      cursor: pointer;
    }

    [class*="p-icon"] {
      @include vf-icon-size(0.875rem);

      margin-left: $sp-x-small;
    }
  }

  [class*="p-button"].no-background {
    background-color: transparent;
  }

.sites-table {
  thead th:first-child,
  tbody td:first-child {
    width: 3rem;
  }

  td.connection,
  th.connection {
    .connection__text {
      padding-left: $connection-status-icon-width;
    }
  }

  .sites-table-row--muted {
    td:not(.name) {
      &,
      .tooltip-button {
        @extend %muted-text;
      }
    }
  }

  .status-icon {
    display: inline-block;
    position: relative;
    padding-left: $connection-status-icon-width;
  }

  .status-icon::before {
    content: "\00B7";
    font-size: 5rem;
    position: absolute;
    left: 0;
    top: -6px;
    color: transparent;
  }

  .status-icon.is-lost::before {
    color: #c7162b;
  }

  .status-icon.is-stable::before {
    color: #0e8420;
  }

  .status-icon.is-unknown::before {
    color: #cdcdcd;
  }

  .p-checkbox.is-label-visually-hidden .p-checkbox__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }
}
