  .p-button--table-header {
    @extend %table-header-label;

    color: $color-dark;

    &:hover {
      color: $color-link;
      cursor: pointer;
    }

    [class*="p-icon"] {
      @include vf-icon-size(0.875rem);

      margin-left: $sp-x-small;
    }
  }

  [class*="p-button"].no-background {
    background-color: transparent;
  }

.sites-table {
  thead th:first-child,
  tbody td:first-child {
    width: 3rem;
  }

  thead th:last-child,
  tbody td:last-child {
    width: 7rem;
  }

  td.connection,
  th.connection {
    .connection__text {
      padding-left: $connection-status-icon-width;
    }
  }

  .sites-table-row--muted {
    td:not(.name) {
      &,
      .tooltip-button {
        @extend %muted-text;
      }
    }
  }

  .sites-table-row:hover {
    @include vf-transition($property: #{background}, $duration: fast);
    background-color: $colors--light-theme--background-hover;

    .table-actions {
      opacity: 1;
    }
  }

  .status-icon::before {
    top: -6px;
  }

  .p-checkbox.is-label-visually-hidden .p-checkbox__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }
}
