@use "sass:math";

// Vanilla settings:
$grid-max-width: math.div(1920, 16) * 1rem;
$breakpoint-xx-large: 1920px;
$side-navigation-z-index: 103;
/* stylelint-disable-next-line scss/dollar-variable-pattern */
$application-layout--breakpoint-side-nav-expanded: $breakpoint-xx-large;
$increase-font-size-on-larger-screens: false;
$assets-path: "fonts/";
