.u-flex {
  display: flex !important;
}

.u-flex--large {
  @media (min-width: $breakpoint-large) {
    display: flex !important;
  }
}

.u-flex--align-end {
  align-items: flex-end !important;
}

.u-flex--align-start {
  align-items: flex-start !important;
}

.u-flex--justify-end {
  justify-content: flex-end !important;
}

.u-flex--justify-between {
  justify-content: space-between !important;
}

.u-flex--column {
  flex-direction: column !important;
}

.u-flex--column-x-small {
  @media (max-width: $breakpoint-x-small) {
    flex-direction: column !important;
  }
}

.u-flex--row-small {
  @media (min-width: $breakpoint-small) {
    flex-direction: row !important;
  }
}

.u-flex--grow {
  flex-grow: 1 !important;
}

.u-flex--wrap {
  flex-wrap: wrap !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-no-wrap {
  white-space: nowrap !important;
}

.u-no-border {
  border: 0 !important;
}

.u-padding-top--medium {
  padding-top: $spv--medium !important;
}

.u-padding-bottom--medium {
  padding-bottom: $spv--medium !important;
}

.u-width--100 {
  width: 100% !important;
}

.u-no-padding {
  padding: 0 !important;
}

.u-nudge-down--small {
  padding-top: $sph--small !important;
}

// hide elements visually, but keep them accessible to screen readers
.u-visually-hidden {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  white-space: nowrap !important;
}

.u-text-overflow-clip {
  text-overflow: clip !important;
  white-space: nowrap !important;
}
