.table-pagination {
  position: relative;
  margin: 0 $sph--x-large 0 0;
  display: flex;
  gap: $sph--small;
  align-items: center;
  list-style: none;
  padding: 0;

  @media screen and (max-width: $breakpoint-small) {
    margin-bottom: $spv--large;
  }

  button {
    margin: 0;
  }

  .u__left-rotate {
    transform: rotate(90deg);
  }

  .u__right-rotate {
    transform: rotate(-90deg);
  }

  .p-form__group {
    width: 3rem;
    margin-bottom: 0;

    .current-page {
      width: 100%;
      min-width: 1.625rem;
      margin-bottom: 0;
      text-align: center;
    }

    // Remove input arrows

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      appearance: textfield;
    }

    .p-form-validation__message {
      position: absolute;
      left: 0.625rem;
      margin-top: 0;
      white-space: nowrap;
    }
  }
}
