.site-marker {
  @include vf-transition(transform, fast, out);

  transition-delay: 0;
  transform-origin: bottom center;

  &:hover {
    transform: scale(1.1);
    transition-delay: 750ms;

    .site-marker__body {
      fill: adjust-color($color-brand, $lightness: -$hover-background-opacity-percentage);
    }
  }

  .site-marker__body {
    fill: $color-brand;
    stroke: $color-light;
  }
  
  .site-marker__circle {
    fill: $color-light;
  }

  &.is-selected {
    .site-marker__body {
      stroke: black;
      stroke-width: 0.125rem;
    }

    .site-marker__circle {
      fill: black;
    }
  }
}
