.p-table--dynamic {
  margin-bottom: 0;


  thead, tbody {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  thead {
      scrollbar-gutter: stable;
  }

  tbody {
    height: auto;
    min-height: auto;
  }

  thead tr,
  tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
}
