@include vf-p-icon-settings;

.columns-visibility-checkbox {
  &:first-of-type label {
    padding-top: $sph--small;
  }
  label {
    padding: 0 $sph--large $sph--x-small $sph--large;
    text-transform: capitalize;
    width: 100%;
    text-indent: 0;
  }
}

[class^="p-button"].has-icon.columns-visibility-toggle {
  @extend %vf-input-elements;
  padding-left: $spv--small;
  text-align: left;
  width: 100%;
  text-transform: capitalize;

  i[class*="p-icon"]:last-child {
    margin-left: 0;
    margin-right: $spv--x-small;
  }
}
