.sites-table-controls {
  .sites-table-controls__search {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: $breakpoint-large) {
      width: auto;
      margin: 0 1rem;
    }
  }
}
