$box-shadow: 0 1px 1px 0 rgb(0 0 0 / 15%),
  0 2px 2px -1px rgb(0 0 0 / 15%),
  0 0 3px 0 rgb(0 0 0 / 20%);

.sites-table-controls {
  .remove-button__wrapper {
    background-color: $color-x-light;
    height: fit-content;
    width: fit-content;
    margin-bottom: $sph--large;

    .remove-btn {
      margin-bottom: 0;
    }
  }
  
  .p-segmented-control {
    width: fit-content;
  }

  &.is-map-view {
    .p-search-box__input,
    .remove-button__wrapper,
    .sites-view-control {
      box-shadow: $box-shadow;
    }

    .sites-view-control {
      .p-segmented-control__button {
        margin-bottom: 0;
      }
    }
  }
}
