.table-actions {
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;

  &:focus-within {
    opacity: 1;
  }

  .table-actions-vertical-divider {
    display: none;
  }

  &.table-actions-bordered {
    .table-actions-vertical-divider {
      display: inline-block;
      width: 1px;
      height: 1rem;
      background-color: $colors--light-theme--border-default;
    }
  }
}
