.p-heading--small {
  @extend %table-header-label;
  color: $color-dark;
  margin-bottom: $sp-unit * 0.25;
  text-transform: uppercase;
}
.is-dark {
  .p-heading--small {
    color: $color-light;
  }
}
