@use "sass:math";

// Vanilla settings:
$grid-max-width: math.div(1920, 16) * 1rem;

$breakpoint-xx-large: 1920px;
$side-navigation-z-index: 103;
$application-layout--breakpoint-side-nav-expanded: $breakpoint-xx-large;

// TODO: uncomment and use local assets path once implemented
// https://warthogs.atlassian.net/browse/MAASENG-1448
// $assets-path: "/assets/fonts/";
