.u-flex {
  display: flex !important;
}
.u-flex--large {
  @media (min-width: $breakpoint-large) {
    display: flex !important;
  }
}
.u-flex--align-end {
  align-items: flex-end !important;
}
.u-flex--justify-end {
  justify-content: flex-end !important;
}
.u-flex--column {
  flex-direction: column !important;
}
.u-flex--grow {
  flex-grow: 1 !important;
}
.u-flex--between {
  justify-content: space-between !important;
}
.u-capitalize {
  text-transform: capitalize !important;
}
.u-padding-top--medium {
  padding-top: $spv--medium !important;
}
