.pagination-bar {
  border-top: 1px solid $color-mid-light;
  border-bottom: 1px solid $color-mid-light;
  align-items: center;
  padding: $spv--small 0;
  margin-bottom: $spv--large;

  @media screen and (max-width: $breakpoint-small) {
    padding-bottom: $spv--small;
  }

  .pagination-bar__description {
    margin: 0;
    padding: 0;
  }

  .pagination-bar__right {
    @media screen and (max-width: $breakpoint-small) {
      width: 100%;
    }
  }

  select {
    margin-bottom: 0;
  }
}
