.columns-visibility-checkbox {
  label {
    padding: 0 $sph--large $sph--x-small $sph--large;
    width: 100%;
    text-indent: 0;
  }

  &:first-of-type label {
    padding-top: $sph--small;
  }
}

.columns-visibility-control {
  padding: 0 0.5rem;
}
